.card {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: var(--neutral-2);
  border: var(--neutral-4) 1px solid;
  border-radius: 52px;
}

.card.isHost {
  background: var(--primary-3);
  border: var(--primary-5) 1px solid;
}

.card.ready {
  background: var(--success-bg);
  border: var(--success-border) 1px solid;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
